<%-include("template/head",{tituloWeb:"Pagina 404"})%>
<body>
    <div class="container-fluid p-5 text-center">
        <h1>Pagina en Construcción</h1>
    </div>

<%-include("template/footer.ejs")%> 