<%-include("template/head.ejs",{tituloWeb:"Pagina de inicio"})%>

    <h1 class="text-primary">hola mundo!! es mi primera pagina con Errores :(</h1>
    <h3><%= titulo %></h3>

<%-include("template/footer.ejs")%> 