<%-include("template/head.ejs",{tituloWeb:"Pagina de Servicios"})%>

<figure class="text-center">
    <blockquote class="blockquote">
      <p><h2><%=Titulo_servicios%></h2></p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Lorem, ipsum, dolor. <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>

  <img src='/estilos/carnicos.jpg' alt="image" class="rounded mx-auto d-block">
  
 
  
<%-include("template/footer.ejs")%> 