<%-include("template/head.ejs",{tituloWeb:"Pagina de Servicios"})%>

<figure class="text-center">
    <blockquote class="blockquote">
      <p><h1><%=Titulo_servicios%></h1></p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Lorem, ipsum, dolor. <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
  
<%-include("template/footer.ejs")%> 